.checkLit {
  display: flex;
  flex-direction: row;
}
.percent {
  padding-left: 0;
  .adm-list-item-content {
    border-bottom: none;
    padding: 0;
  }
}

.user {
  .adm-list-default {
    border-bottom: none;
  }
}

.boolean-field {
  padding: 0 16px;
  flex: 1,
}

.row-center {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 60px;
}

.field {
  padding: 0 16px;
  flex: 1;
  display: flex;
  --font-size: 14px;
  .ant-input-number-disabled {
    background-color: transparent;
  }
  .field-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .field-text {
      flex: 1;
      font-size: 14px;
      color: #000;
      margin-right: 10px;
      max-height: 120px;
      overflow: auto;
      display: block;
      white-space: normal;
      &-multiple {
        min-width: 40px;
        vertical-align: top;
        background: #e7f2ff;
        color: #313949;
        border: 1px solid #d9e8f9;
        margin: 0 3px 5px 0;
        border-radius: 20px;
        padding: 1px 10px 2px;
        display: inline-block;
        position: relative;
        max-width: 100%;
        box-sizing: border-box;
      }
    }
    .field-placeholder {
      font-size: 24px;
      color: rgba(36, 36, 36, 0.6);
    }
  }
  .percent {
    border: none;
    .ant-input-number-group-addon {
      background-color: transparent;
      border-radius: 0;
      border: none;
    }
  }
}

// 文本输入  单行
.text-field {
  padding: 0 20px;
  --text-align: right;
  font-size: 24px;
  --font-size: 24px
}

.adm-text-area-count {
  font-size: 20px;
  --font-size: 20px;
  margin-bottom: -10px
}

// 多行文本
.text-area-field {
  padding: 10px 10px;
  --font-size: 14px;
  font-size: 14px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.date-icon {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

// 日期选择
.date-field {
  padding: 0 16px;
  flex: 1;
  display: flex;
  .date-field-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// 地区选择
.city-field {
  padding: 0 16px;
  flex: 1;
  display: flex;
  .city-field-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .city-field-text {
      font-size: 14px;
    }
  }
}

.MultipleSelectField {
  padding: 20px;
}

.resource-popup {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
  // padding-bottom: 30px;
  .search-content {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-close {
      margin-right: 10px;
    }
  }
  .main {
    flex: 1;
    overflow-y: auto;
  }
}

.user-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  &.active {
    background-color: rgb(201, 201, 201);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    .user-email {
      color: #fff;
    }
  }
  .user-acatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #FFF;
    background-color: #999999;
  }
  .user-email {
    color: #999;
  }
}

.order-product {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.popover-content {
  .category {
    color: #8c7ee4;
    border: 1px solid #8c7ee4;
    padding: 2px 4px;
    margin-right: 10px;
    font-size: 24px;
  }
  .popover-title {
    color: gray;
    font-size: 24px;
  }
  .popover-category {
    .popover-text {
      font-size: 24px;
    }
  }
  .popover-list {
    .popover-item {
      text-indent: 2em;
      font-size: 24px;
    }
  }
  .popover-desc {
    color: red;
    font-size: 24px;
  }
}

.attachment-field {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.image-field {
  padding: 0 5px;
  display: flex;
  .ant-upload.ant-upload-select-picture-card {
    width: 70px;
    height: 70px;
  }
  .ant-upload-list-picture-card-container {
    width: 70px;
    height: 70px;
  }
}

.picklist-popup {
  padding: 0 20px;
  .picklist-popup-content {
    height: 90vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    .picklist-view-input {
      padding: 10px 0;
    }
    .picklist {
      flex: 1;
      overflow-y: auto;
      padding-bottom: 40px;
      .picklist-item {
        height: 50px;
        padding: 0 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #f2f2f2;
        justify-content: space-between;
        border-radius: 4px;
        overflow: hidden;
      }
      .active {
        background-color: #f2f2f2;
        border-left: 4px solid #8c7ee4;
        border-bottom: none;
      }
      .checklist-item {
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
      }
    }
  }
}

.form-field {
  flex: 1;
  padding-left: 10px;
  font-size: 14px;
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-text {
      max-height: 120px;
      overflow-y: scroll;
      &-multiple {
        min-width: 40px;
        vertical-align: top;
        background: #e7f2ff;
        color: #313949;
        border: 1px solid #d9e8f9;
        margin: 0 3px 5px 0;
        border-radius: 20px;
        padding: 1px 10px 2px;
        display: inline-block;
        position: relative;
        max-width: 100%;
        box-sizing: border-box;
      }
    }
    &-placeholder {
      color: #999;
      font-size: 14px;
    }
  }
  &-area {
    padding: 10px 10px;
    --font-size: 14px;
    font-size: 14px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
  }
  &-disable {
    color: red !important;
    background: white !important;
    border: none;
    max-width: 200px;
    cursor: auto !important;
    input {
      color: red !important;
      cursor: auto !important;
    }
  }
  &-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  &-prefix {
    width: 100%;
  }
}

.row-center {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 60px;
}

.form-field-popup {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  &-main {
    flex: 1;
    overflow-y: auto;
    &-item {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      &-acatar {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #FFF;
        background-color: #999999;
      }
      &-email {
        color: #999;
      }
    }
  }
}
