.signin {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .container {
    background-color: #F2F2F2;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #FFF;
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      padding: 20px;
      .time {
        font-size: 24px;
        text-align: center;
        color: #333;
      }
      .signin-btn {
        position: relative;
        margin-top: 10px;
        height: 40px;
        padding: 0 40px;
        border-radius: 20px;
        background-color: #4777f2;
        display: flex;
        align-items: center;
        .signin-text {
          color: #fff;
          font-size: 20px;
        }
        .refresh-signin {
          position: absolute;
          right: -30px;
          font-size: 18px;
          z-index: 10;
        }
      }
      .signin-btn-hover {
        background-color: rgba(71, 119, 242, 0.6);
      }
      .address-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 10px;
        .address {
          flex: 1;
          flex-wrap: wrap;
          color: rgb(37, 93, 246);
          font-size: 14px;
          margin-right: 20px;
          .icon {
            margin-right: 4px;
          }
        }
        .geocodeError {
          color: rgb(255, 0, 0);
        }
        .relocation {
          padding: 4px 10px;
          background-color: red;
          color: #fff;
          border-radius: 10px;
          font-size: 14px;
        }
        .relocation-hover {
          background-color: rgba(255, 0, 0, 0.6);
        }
      }
    }
    .list-content {
      padding: 8px 20px 8px 16px;
      .list-item {
        margin-top: -20px;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: #FFF;
        padding: 20px;
        display: flex;
        flex-direction: column;
        .list-item-head {
          display: flex;
          flex-direction: row;
          font-size: 16px;
          // align-items: center;
          .list-item-head-left {
            flex: 1;
            margin-right: 20px;
            display: flex;
            font-size: 12px;
            flex-direction: column;
            color: #333;
            .list-item-head-left-text-content {
              display: flex;
              flex-direction: row;
              margin-bottom: 10px;
              .list-item-head-left-text-name {
                flex: 1;
                flex-wrap: wrap;
              }
            }
          }
        }
        .list-item-content {
          margin: 10px 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-left: -10px;
          .list-item-content-image {
            width: 64px;
            height: 64px;
            margin-right: 10px;
            border-radius: 10px;
            border: 1px solid #4777f2;
            margin-bottom: 10px;
            margin-left: 10px;
          }
        }
        .list-item-created {
          margin-right: 10px;
          font-size: 14px;
          color: #666;
        }
        .list-item-time {
          margin-right: 20px;
          color: #999;
          // text-align: right;
        }
      }
    }
  }
  .map-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.signin-popup {
  // padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .signin-popup-title {
    padding-top: 10px;
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .signin-popup-input {
    height: 100px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
  }
  .signin-popup-selete {
    padding: 0px 10px;
    .signin-popup-selete-title {
      position: relative;
      display: block;
      font-size: 16px;
      margin: 10px 0px;
      padding-left: 10px;
    }
    .signin-popup-selete-title.presence::after {
      position: absolute;
      content: '';
      width: 2px;
      height: 80%;
      left: 0;
      background-color: red;
    }
  }
  .signin-popup-selete2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    font-size: 16px;
    margin: 10px;
  }
  .signin-popup-selete-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
    .content-list-item-name {
      color: #333;
      font-size: 16px;
    }
    .content-list-item-name2 {
      font-size: 14px;
      color: #666;
    }
  }
  .signin-popup-camera-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    .signin-popup-camera-image {
      width: 90px;
      height: 90px;
      border-radius: 10px;
      border: 1px solid #4777f2;
      margin-bottom: 10px;
      margin-left: 14px;
    }
    .signin-popup-camera {
      width: calc(100vw / 3 - 20px);
      height: calc(100vw / 3 - 20px);
      border-radius: 10px;
      border: 1px solid #4777f2;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
    }
  }
}

.signout-content {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .signout-popup-title {
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .signout-main {
    flex: 1;
    overflow-y: auto;
    padding: 0 20px;
    .signout-popup-input {
      height: 100px;
      background-color: #f2f2f2;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
    }
    .signout-popup-camera-conten {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      .signout-popup-camera-image {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        border: 1px solid #4777f2;
        margin-bottom: 10px;
        margin-left: 10px;
      }
      .adm-space-horizontal {
        .adm-space-item {
          margin-right: 0px
        }
      }
    }
    .signput-time {
      display: block;
      text-align: center;
      font-size: 20px;
      margin-top: 10px;
    }
  }
}

.show-menu-content {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .show-menu-content-scroll {
    padding: 10px;
    flex: 1;
    overflow-y: auto;
    .content-list-item-row {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px 0;
      .adm-radio-content {
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        .content-list-item {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          color: #999;
          margin-right: 20px;
          .content-list-item-name {
            color: #333;
            font-size: 16px;
          }
          .content-list-item-name2 {
            font-size: 14px;
            color: 14px;
            margin: 2px 0;
          }
        }
      }
    }
  }
}

.canvas-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  overflow: hidden;
  padding: 0 30px;
  .canvas-btn-cancer {
    flex: 1; 
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #fac03d;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #fff;
  }
  .canvas-btn-change {
    flex: 1; 
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #697723;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
  }
}

.camears-popup {
  border-radius: 0;
  height: 100vh;
  background-color: #333;
}

.pay_a_visit {background-color: #ec2c64; padding: 4px 6px; color: #fff; border-radius: 4px; display: block; font-size: 12px;}
.stranger {background-color: #584717; padding: 4px 6px; color: #fff; border-radius: 4px; display: block; font-size: 12px;}
.enquiry {background-color: #7e1671; padding: 4px 6px; color: #fff; border-radius: 4px; display: block; font-size: 12px;}
.deal {background-color: #5cb3cc; padding: 4px 6px; color: #fff; border-radius: 4px; display: block; font-size: 12px;}
.return_visit {background-color: #69a794; padding: 4px 6px; color: #fff; border-radius: 4px; display: block; font-size: 12px;}
.exhibitions {background-color: #d0deaa; padding: 4px 6px; color: #fff; border-radius: 4px; display: block; font-size: 12px;}
.competitor {background-color: #de7622; padding: 4px 6px; color: #fff; border-radius: 4px; display: block; font-size: 12px;}


.adm-image-uploader-cell {
  display: none;
}
.signin-popup-camera-content {
  .adm-space-horizontal {
    .adm-space-item {
      margin-right: 0px
    }
  }
}
.adm-image-uploader-upload-button-wrap {
  display: block !important;
  margin-left: 10px;
}

.sign-list-item {
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;
  color: #333;
  .item-box {
    display: flex;
    flex-direction: column;
    .item-box-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .item-top-left {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        flex: 1;
        .item-module_data {
        }
      }
      .item-top-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      .item-created_at {
        font-size: 12px;
        color: #999;
        text-align: right;
      }
    }
    .item-remark {
      margin-top: 4px;
    }
    .item-address {
      margin-top: 4px;
    }
    .item-images {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      .item-images-img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        margin-right: 10px;
      }
    }
  }
}

.list-item-shadow {
  box-shadow: 0 3px 2px -2px #0000001f, 0 3px 8px #00000014;
}

