.form-field {
  flex: 1;
  padding-left: 10px;
  font-size: 14px;
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-text {
      max-height: 120px;
      overflow-y: scroll;
      &-multiple {
        min-width: 40px;
        vertical-align: top;
        background: #e7f2ff;
        color: #313949;
        border: 1px solid #d9e8f9;
        margin: 0 3px 5px 0;
        border-radius: 20px;
        padding: 1px 10px 2px;
        display: inline-block;
        position: relative;
        max-width: 100%;
        box-sizing: border-box;
      }
    }
    &-placeholder {
      color: #999;
      font-size: 14px;
    }
  }
  &-area {
    padding: 10px 10px;
    --font-size: 14px;
    font-size: 14px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
  }
  &-disable {
    color: red !important;
    background: white !important;
    border: none;
    max-width: 200px;
    cursor: auto !important;
    input {
      color: red !important;
      cursor: auto !important;
    }
  }
  &-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  &-prefix {
    width: 100%;
  }
}

.row-center {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 60px;
}

.form-field-popup {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  &-main {
    flex: 1;
    overflow-y: auto;
    &-item {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      &-acatar {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #FFF;
        background-color: #999999;
      }
      &-email {
        color: #999;
      }
    }
  }
}
