.signin-show-datail {
  display: flex;
  height: 100vh;
  flex-direction: column;
  .list-item-head-outline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .show-list-item {
    flex: 1;
    border-radius: 10px;
    background-color: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .list-item-head {
      display: flex;
      flex-direction: row;
      font-size: 16px;
      align-items: center;
      .list-item-head-left {
        position: relative;
        flex: 1;
        display: flex;
        font-size: 12px;
        flex-direction: column;
        color: #333;
        .list-item-head-top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          // margin-bottom: 10px;
        }
        .list-item-head-left-text-content {
          display: flex;
          flex-direction: row;
          font-size: 14px;
          margin-bottom: 10px;
          .list-item-head-left-text-name {
            flex: 1;
            flex-wrap: wrap;
          }
          .list-item-head-left-text-name.bg {
            display: flex;
            flex-direction: column;
            background-color: #F2F2F2;
            border-radius: 10px;
            padding: 10px;
          }
        }
        .center {
          align-items: center;
        }
      }
    }
    .list-item-content {
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -10px;
      // justify-content: space-between;
      .show-list-item-content-image {
        width: calc(100vw / 3 - 20px);
        height: calc(100vw / 3 - 20px);
        border-radius: 10px;
        border: 1px solid #4777f2;
        margin-bottom: 10px;
        margin-left: 10px;
      }
    }
    .list-item-created {
      margin-right: 10px;
      font-size: 14px;
      color: #666;
    }
    .list-item-time {
      margin-right: 20px;
      color: #333;
      font-size: 16px;
      // text-align: right;
    }
    .signin-btn {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      .signin-text {
        display: inline-block;
        line-height: 40px;
        margin-top: 10px;
        height: 40px;
        padding: 0 40px;
        border-radius: 20px;
        background-color: #4777f2;
        color: #fff;
        font-size: 20px;
      }
    }
    }
}

.signout-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  .signout-popup-title {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 10px;
  }
  .signout-main {
    flex: 1;
    overflow-y: auto;
    padding: 0 20px;
    .signout-popup-input {
      height: 100px;
      background-color: #f2f2f2;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
    }
    .signput-time {
      display: block;
      text-align: center;
      font-size: 20px;
      margin-top: 10px;
    }
  }
}

.show-pay_a_visit {background-color: #ec2c64; color: #fff; padding: 4px 10px; border-radius: 6px;}
.show-stranger {background-color: #584717; color: #fff; padding: 4px 10px; border-radius: 6px;}
.show-enquiry {background-color: #7e1671; color: #fff; padding: 4px 10px; border-radius: 6px;}
.show-deal {background-color: #5cb3cc; color: #fff; padding: 4px 10px; border-radius: 6px;}
.show-return_visit {background-color: #69a794; color: #fff; padding: 4px 10px; border-radius: 6px;}
.show-exhibitions {background-color: #d0deaa; color: #fff; padding: 4px 10px; border-radius: 6px;}
.show-competitor {background-color: #de7622; color: #fff; padding: 4px 10px; border-radius: 6px;}

.popup-textarea {
  padding: 20px;
}

.signin-show {
  height: 100vh;
  display: flex;
  flex-direction: column;
  &-navbar {
    display: flex;
    flex-direction: column;
    &-title {
      font-size: 16px;
    }
    &-tag {
      line-height: 0;
    }
  }
  &-content {
    flex: 1;
    overflow-y: auto;
    background-color: #f2f2f2;
    padding: 20px;
    &::-webkit-scrollbar {
      display:none
    }
    &-bg {
      border-radius: 10px;
      margin-bottom: 10px;
      background-color: #FFF;
      padding: 20px 0;
    }
    &-item {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 0 20px;
      padding-bottom: 10px;
      background-color: #FFF;
      // margin-bottom: 10px;
      font-size: 14px;
      &.row {
        flex-direction: row;
        align-items: center;
      }
      &-title {
        color: #666;
        font-size: 16px;
        margin-bottom: 4px;
        display: flex;
        align-items: center;
      }
      &-content {
        flex: 1;
        display: inline-block;
        background-color: #f2f2f2;
        padding: 4px;
        padding-left: 10px;
        border-radius: 4px;
      }
      &-icon {
        display: inline-block;
        width: 16px;
        height: auto;
        margin-left: 10px;
      }
      &-images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &-item {
          width: calc((100vw - 80px) / 3);
          height: calc((100vw - 80px) / 3);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &-image {
        width: calc((100vw - 110px) / 3);
        height: calc((100vw - 110px) / 3);
        border-radius: 10px;
        border: 1px solid #4777f2;
      }
    }
    &-item.time {
      font-size: 16px;
    }
  }
}