body,
html,
.taro-tabbar__container,
#app,
.taro-tabbar__panel {
  overflow-x: hidden;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';;
  .weui-tabbar__item {
    span {
      padding-top: 4px;
    }
    p {
      margin-bottom: 20px;
    }
  }
}

.taro_router {
  min-height: auto;
}

.webkit-hidden1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.webkit-hidden2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.adm-popup-body {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  .popup-close {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 20;
  }
}

.adm-popup-body.bottom-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.adm-mask {
  top: auto !important;
  height: 100vh !important;
  bottom: 0 !important;
}

.image-delete-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgba(153, 153, 153, 0.5);
  right: -8px;
  top: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

